@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #fff;

}
/*!Ebaaaaa*/
.alert-box{
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.alerta{
  position: absolute;
  top: 5px;
  width: 500px;
  height: 50px;
  border: 1px solid #ff6b6b;
  background-color: rgba(255, 107, 107, 0.71);
}


.hero{
  height: 100%;
  width: 100%;
  position: absolute;
}

.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;  
  background-color: #191313;
  padding: 5px;
  color: #fff;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.32);
box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.32);
}

.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #5e24ff1f;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  
}

#btn{
  top: 0;  
  left: 0;
  position: absolute;
  width: 220px;
  height: 100%;
  background-color: #2F3061;
  border-radius: 30px;
  transition: .5s;
}

#registerBtn{
  font-weight: 600;
  font-size: 18px;
  left: 110px;
  position: absolute;
  width: 130px;
  height: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  transition: .5s;
  font-weight: 700;
  font-style: italic;
}

#loginBtn{
  transition: .5s;
  font-weight: 700;
  font-size: 18px;
}



.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: calc(100% + 32%);
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  color: #fff;
}

.input-field::placeholder {
  color: #999; /* Cor inicial do placeholder */
  transition: transform 0.3s ease-in, color 0.3s ease-in; /* Transição para a transformação e cor */
  position: absolute;
  top: 50%; /* Posicionar o placeholder no meio do campo */
  left: 0;
  transform: translateY(-50%); /* Ajustar para centralizar verticalmente */
  pointer-events: none; /* Evitar que o placeholder seja clicável */
}

.input-field:focus::placeholder,
.input-field:not(:placeholder-shown)::placeholder {
  transform: translateY(-100%); /* Mover o placeholder para cima */
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #2F3061;
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 50px;
  position: absolute;
  left: 18%;
  top: 116%;
  font-weight: 800;
  font-size: 18px;
  box-shadow: 0 4px 10px #000;
  transition: 0.3s;
}

.submit-btn:hover{
  transition: 0.3s;
  background-color: #5557a4;
  opacity: 1;
}

.check-box{
  margin: 30px 10px 30px 0;
}

span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
a{
  font-size: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #1877F2;
  font-weight: 600;
  font-style: italic;
}

.register-link{
  width: 80px;
  position: absolute;
  left: 95%;
  top: 99px;
  font-weight: 600;
  font-style: italic;
}

#login{
    position: absolute;
    left: 5%;
}
#register{
  position: absolute;
  left: 100%;

}