body {
    background-color: antiquewhite;
}

.nome {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.3em;
    text-align: center;
    padding: 30px;
    color: rgba(49, 2, 2, 0.76);
}

.verm {
    background-color: rgb(180, 10, 10);
    width: 40em;
    height: 10em;
    left: 25.4%;
    position: relative;
    z-index: 1;
}

.azul {
    background-color: rgb(22, 56, 148);
    width: 40em;
    height: 10em;
    left: 25.4%;
    position: relative;
    z-index: 2;
}

.am {
    background-color: rgb(241, 238, 5);
    width: 40em;
    height: 10em;
    left: 25.4%;
    position: relative;
    z-index: 3;
}